files:
  "/tmp/cloudwatch-agent-config.json":
    mode: "000400"
    owner: root
    group: root
    content: |
      {
        "agent": {
          "metrics_collection_interval": 60,
          "run_as_user": "root"
        },
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/myapp/webhook.log",
                  "log_group_name": "/aws/elasticbeanstalk/cross-stitch-env/var/log/myapp/webhook.log",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }

commands:
  01_create_cloudwatch_log_group:
    command: |
      aws logs create-log-group --log-group-name /aws/elasticbeanstalk/cross-stitch-env/var/log/myapp/webhook.log
    ignoreErrors: true

container_commands:
  01_install_cloudwatch_agent:
    command: |
      yum install -y amazon-cloudwatch-agent
  02_configure_cloudwatch_agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/tmp/cloudwatch-agent-config.json
    leader_only: true