<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="App.private.config">
    <add key="S3BucketName" value="cross-stitch-designs"/>
    <add key="S3PhotoPrefix" value="photos"/>
    <add key="SiteBaseUrl" value="https://cross-stitch.com" />
    <add key="PinterestClientId" value="1535483"/>
    <add key="PinterestAuthUrl" value="https://www.pinterest.com/oauth/"/>
    <add key="PinterestTokenUrl" value="https://api.pinterest.com/v5/oauth/token"/>
    <add key="PinterestPinsUrl" value="https://api.pinterest.com/v5/pins"/>
    <add key="PinterestRedirectUri" value="http://localhost:8080/callback"/>
    <add key="PinterestScope" value="pins:read pins:write boards:read boards:write ads:read"/>
    <add key="PinterestBoardId" value ="257127528664615140"/>
    <add key="PinterestAlbumLinkRatio" value="0.0"/>
    <add key="PinterestLinkUrl" value="https://cross-stitch.com"/>
    <add key="ElasticBeanstalkEnvironmentName" value="cross-stitch-com-env-clone"/>
    <add key="UnsubscribeBaseUrl" value="https://cross-stitch.com/unsubscribe"/>
    <add key="SenderEmail" value="ann@cross-stitch.com"/>
    <add key="AdminEmail" value="olga.epstein@gmail.com"/>
    <add key="SesConfigurationSetName" value="my-first-configuration-set"/>
    <add key="EmailSendLogTableName" value="EmailSendLog"/>
    <add key="HtmlEmailTemplatePath" value="%CROSS_STITCH%\cross-stitch-platform\uploader\Uploader\Templates\HtmlEmailTemplate.txt"/>
    <add key="TextEmailTemplatePath" value="%CROSS_STITCH%\cross-stitch-platform\uploader\Uploader\Templates\TextEmailTemplate.txt"/>
    <add key="ConverterExePath" value="%CROSS_STITCH%\cross-stitch-platform\uploader\Converter\bin\Release\net9.0\Converter.exe"/>
  </appSettings>
</configuration>
